:root {
    --myGray : #f8f8f8;
}

::selection {
    background-color: white;
}

main {
    padding-top: 62px;
}

.navbar {
    background-color: white;
    padding:0.2rem 1rem;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

a:hover {
    font-weight: bold; !important;
}

.navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    min-height: 32px;
    min-width: 70px;

}

.navbar-toggler {
    padding: 0rem 1rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    color: black; !important;
    display: inline-block !important;

}

.navbar-toggler:active, .navbar-toggler:focus {
    border: none !important;
    outline: none !important; /* Remove the outline */
    box-shadow: none !important; /* Remove the box-shadow */
    /* Remove the border */
}

.sticky-row{
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.side-bar-collapse{
    position: fixed; /* Fixed positioning */
    top: 0; /* Align to the top */
    left: -500px; /* Start off the screen to the left */
    width: 500px; /* Adjust width as needed */
    height: 100%; /* Full height */
    background-color: white; /* Example background color */
    transition: left 0.5s; /* Animate the left property */
    overflow-y: auto;
}

@media (max-width: 500px) {
    .side-bar-collapse {
        width: 100%;
    }
}

.side-bar-collapse.show {
    left: 0; /* Move to the left edge of the screen when toggled */
}

button.bi.bi-chevron-right {
    border: none;
    background-color: transparent;
}

.search-bar-custom {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    border: none; /* Remove all borders */
    border-bottom: 1px solid #ccc; /* Add bottom border */
    font-size: 16px;
    border-radius: 1px; /* Remove border radius */
    border-color: black;
}

.search-bar-custom:focus {
    background-color: var(--myGray);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-bottom-color: black;
}

.search-bar-custom:hover {
    background-color: var(--myGray);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-bottom-color: black;
}

.element-toggler{
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    font-family: "Rubik", sans-serif;
    padding-left: 15px;
}

.recent-stories{
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 0.9rem;
    color: dimgray;
    padding-left: 20px;
}

.recent-stories h2{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.recent-stories h3{
    font-weight: bold;
    font-size: 0.9rem;
    color: black;
}

.recent-stories a {
    color:inherit;
    text-decoration: none;
    text-underline: none;
}

.recent-stories a:hover {
    font-weight: normal;
}

.row-element-toggler:hover .element-toggler {
    padding-left: 30px; /* Adjust this value as needed */
    transition: 0.2s; /* Add a transition effect */
}

.row-element-toggler:hover {
    background-color: var(--myGray);
}

.row-element-toggler:hover .element-toggler::before {
    content: "";
    display: block;
    width: 8px;
    height: 39px;
    background-color: cornflowerblue; /* Change this to the color you want for the rectangle */
    position: absolute;
    left: 0;
    transform: translateY(-5px);
}

 .row-inner{
    position: relative;
    transform: translateX(-1000%);
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
     color: dimgrey;
     font-weight: 400;
     white-space: nowrap;
}

.d-none.d-md-flex .nav-link {
    color:dimgray;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    height: 100%;
    white-space: nowrap;
    margin-top: 15px;
    word-spacing: -1.5px;
}

@media (min-width: 768px) {
    .card-img-top {
        max-width: 100%;
        height: auto;
        position: relative;
    }
    .card-img {
        position: relative;
        margin-bottom: 75px;
    }
    .card-img .card-body {
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        width: 90%;
        margin-left: 0;
        margin-right: auto;
        background-color: white;
    }

    .card-img-top .card-body {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        width: 90%;
        margin-left: 0;
        margin-right: 1200px;
        background-color: white;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .card-img-top {
        max-width: 100%;
        height: auto;
        position: relative;
        margin-bottom: -20px;
    }

    .card-img {
        position: relative;
        margin-bottom: 20px;
    }
    .card-img .card-body {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        width: 90%;
        margin-left: 0;
        margin-right: auto;
        background-color: white;
    }

    .card-img-top .card-body {
        position: relative;
        top: -20px;
        right: 0;
        width: 90%;
        margin-left: 0;
        margin-right: 120px;
        background-color: white;
        z-index: 1000;
        max-width: 100%;

    }
}

.card-body-1 {
    padding: 1.30rem;
    max-width:  350px;
    font-family: 'Rubik', sans-serif;
    background: white;
}

.card-body {
    background-color: white;
}

.card-img-top .card-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-title {
    font-weight: bold;
    font-size: 0.9rem;
}

.card-title a {
    color: inherit; /* This will ensure the link has the same color as the text */
    text-decoration: none; /* This will remove the default underline from the link */
}

.card-title a:hover {
    text-decoration: underline cornflowerblue;
    /* This will underline the link when the cursor is over it */
    /* This will change the link color to blue when the cursor is over it */
}

.card-text {
    font-size: 0.8rem;
    color: dimgray;
    font-weight: bold;
}

.img-fluid{
    min-width: 50%;
    max-width: 80%;
    float: right;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: inline-block !important;
    }
}

.blue-rectangle {
    width: 30px;
    height: 15px;
    background-color: cornflowerblue;
}

.col-thumbnail {
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.1),
    -10px 0 10px -10px rgba(0, 0, 0, 0.1);
}

.showMoreThumb{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
font-family: "Rubik", sans-serif;
    background-color: inherit;
    border: none;
}
.showMoreThumb:disabled {
    color: gray;
}

.title-most {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-underline: none;
    text-decoration: none;
}

.unique-row {
    /* Add your styles here */
    --bs-gutter-x: 0;


}
.img-fluid-most{
    padding-left: -0; !important;
    margin-left: 0; !important;
    float: left;
    padding-right: 0;
    max-width: 100%;
    min-height: 200px;
}

.card-body-most{
    float: left; !important;
    font-family: 'Rubik', sans-serif;
    background: white;
    margin-left: 0;
    border-width: 20px;
    border-color: white;
    min-height: 200px;
}

.card-body-most .card-title{
    font-weight: bold;
    font-size: 1.12rem;
}

.card-title-list-most {
    font-weight: bold;
    font-size: 1.12rem;
    color: black;
    padding-top: 12px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.img-fluid-list-most{
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;

}

#sticky-footer a{
    color: black;
    text-decoration: none;
}

#sticky-footer a:hover{
    font-weight: normal;
}






.





